[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twilio = "==7.11.0"
schedule = "==1.1.0"
supervisor = "==4.2.4"

[dev-packages]

[requires]
python_version = "3.9"
